.container {
  position: relative;
  height: 400px;
}

.scrollArea {
  position: relative;
  height: 100%;
  overflow: auto;
}

.empty {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

.loaderTop,
.loaderBottom {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
}

.loaderTop {
  top: 0;
}

.loaderBottom {
  bottom: 0;
}
